@page "/clientes"
@rendermode InteractiveServer
@inject IRepositorioClientes Repositorio
@inject NavigationManager Navigation
<PageTitle>Clientes</PageTitle>

<h3>Listado de clientes</h3>
<button class="btn btn-primary mb-3" @onclick='@(() => Navigation.NavigateTo("/clientes/nuevo"))'>Nuevo cliente</button>

@if (!string.IsNullOrEmpty(_mensajeError))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> @_mensajeError
        <button type="button" class="btn-close" @onclick="CerrarAlerta"></button>
    </div>
}

@if (_clientes == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_clientes.Count == 0)
{
    <div class="alert alert-info">
        <h2>No se encuentran registrados clientes</h2>
    </div>
}
else
{
    <QuickGrid Items="_clientes.AsQueryable()" Class="table table-striped" Pagination="_paginationState">
        <PropertyColumn Property="@(c => c.NombreFestejado)" Title="Nombre del festejado" Sortable="true" />
        <PropertyColumn Property="@(c => c.Telefono)" />
        <TemplateColumn Title="Acciones">
            <button class="btn btn-outline-secondary" @onclick="@(() => Eliminar(context))">Eliminar</button>
            <button class="btn btn-outline-primary" @onclick="@(() => Editar(context))">Editar</button>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="_paginationState" />
}

@code {
    private List<Cliente>? _clientes;
    private PaginationState _paginationState = new PaginationState { ItemsPerPage = 5 };
    private string? _mensajeError; // Variable para guardar el error

    protected override async Task OnInitializedAsync()
    {
        _clientes = await Repositorio.ObtenerClientes();
    }

    private void Editar(Cliente cliente)
    {
        Navigation.NavigateTo($"/clientes/editar/{cliente.Id}");
    }

    private async Task Eliminar(Cliente cliente)
    {
        try
        {
            _mensajeError = null; // Limpiamos errores anteriores
            await Repositorio.EliminarCliente(cliente.Id);
            _clientes = await Repositorio.ObtenerClientes(); // Actualizamos la tabla
        }
        catch (Exception ex)
        {
            // Atrapamos la excepción del repositorio y la mostramos en pantalla
            _mensajeError = ex.Message;
        }
    }

    private void CerrarAlerta()
    {
        _mensajeError = null;
    }
}