@page "/eventos"
@rendermode InteractiveServer
@inject IRepositorioEventos Repositorio
@inject NavigationManager Navigation
<PageTitle>Eventos</PageTitle>
<h3>Listado de eventos</h3>
<button class="btn btn-primary mb-3" @onclick="@(() => Navigation.NavigateTo("/eventos/nuevo"))">Nuevo evento</button>

@if (_eventos == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_eventos.Count == 0)
{
    <div class="alert alert-info">
        <h2>No se encuentran registrados eventos</h2>
    </div>
}
else
{
    <QuickGrid Items="_eventos.AsQueryable()" Class="table table-striped" Pagination="_paginationState">
        <PropertyColumn Property="@(e => e.Fecha)" Title="Fecha" Sortable="true" />
        <PropertyColumn Property="@(e => e.TipoEvento)" Title="Tipo de evento" Sortable="true" />
        <PropertyColumn Property="@(e => e.Cliente!.NombreFestejado)" Title="Cliente" Sortable="true" />
        <PropertyColumn Property="@(e => e.Sede!.Nombre)" Title="Sede" Sortable="true" />
        <TemplateColumn Title="Acciones">
            <button class="btn btn-outline-secondary" @onclick="@(() => Eliminar(context))">Eliminar</button>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="_paginationState" />
}

@code {
    private List<Evento>? _eventos;
    private PaginationState _paginationState = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        _eventos = await Repositorio.ObtenerEventos();
    }

    private async Task Eliminar(Evento evento)
    {
        await Repositorio.EliminarEvento(evento.Id);
        _eventos = await Repositorio.ObtenerEventos();
    }
}
